.pd-tb-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mg-tb-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.pd-lr-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mg-lr-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.pd-0 {
  padding: 0px !important;
}

.mg-0 {
  margin: 0px !important;
}

.pd-tb-1 {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.mg-tb-1 {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.pd-lr-1 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}

.mg-lr-1 {
  margin-left: 1px !important;
  margin-right: 1px !important;
}

.pd-1 {
  padding: 1px !important;
}

.mg-1 {
  margin: 1px !important;
}

.pd-tb-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.mg-tb-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.pd-lr-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.mg-lr-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.pd-5 {
  padding: 5px !important;
}

.mg-5 {
  margin: 5px !important;
}

.pd-tb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.mg-tb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.pd-lr-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.mg-lr-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.pd-10 {
  padding: 10px !important;
}

.mg-10 {
  margin: 10px !important;
}

.pd-tb-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.mg-tb-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.pd-lr-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.mg-lr-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.pd-15 {
  padding: 15px !important;
}

.mg-15 {
  margin: 15px !important;
}

.pd-tb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.mg-tb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.pd-lr-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.mg-lr-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.pd-20 {
  padding: 20px !important;
}

.mg-20 {
  margin: 20px !important;
}

.pd-tb-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.mg-tb-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.pd-lr-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.mg-lr-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.pd-30 {
  padding: 30px !important;
}

.mg-30 {
  margin: 30px !important;
}

.pd-t-0 {
  padding-top: 0px !important;
}

.pd-t-1 {
  padding-top: 1px !important;
}

.pd-t-5 {
  padding-top: 5px !important;
}

.pd-t-10 {
  padding-top: 10px !important;
}

.pd-t-15 {
  padding-top: 15px !important;
}

.pd-t-20 {
  padding-top: 20px !important;
}

.pd-t-30 {
  padding-top: 30px !important;
}

.pd-b-0 {
  padding-bottom: 0px !important;
}

.pd-b-1 {
  padding-bottom: 1px !important;
}

.pd-b-5 {
  padding-bottom: 5px !important;
}

.pd-b-10 {
  padding-bottom: 10px !important;
}

.pd-b-15 {
  padding-bottom: 15px !important;
}

.pd-b-20 {
  padding-bottom: 20px !important;
}

.pd-b-30 {
  padding-bottom: 30px !important;
}

.pd-l-0 {
  padding-left: 0px !important;
}

.pd-l-1 {
  padding-left: 1px !important;
}

.pd-l-5 {
  padding-left: 5px !important;
}

.pd-l-10 {
  padding-left: 10px !important;
}

.pd-l-15 {
  padding-left: 15px !important;
}

.pd-l-20 {
  padding-left: 20px !important;
}

.pd-l-30 {
  padding-left: 30px !important;
}

.pd-r-0 {
  padding-right: 0px !important;
}

.pd-r-1 {
  padding-right: 1px !important;
}

.pd-r-5 {
  padding-right: 5px !important;
}

.pd-r-10 {
  padding-right: 10px !important;
}

.pd-r-15 {
  padding-right: 15px !important;
}

.pd-r-20 {
  padding-right: 20px !important;
}

.pd-r-30 {
  padding-right: 30px !important;
}

.mg-t-0 {
  margin-top: 0px !important;
}

.mg-t-1 {
  margin-top: 1px !important;
}

.mg-t-5 {
  margin-top: 5px !important;
}

.mg-t-10 {
  margin-top: 10px !important;
}

.mg-t-15 {
  margin-top: 15px !important;
}

.mg-t-20 {
  margin-top: 20px !important;
}

.mg-t-30 {
  margin-top: 30px !important;
}

.mg-b-0 {
  margin-bottom: 0px !important;
}

.mg-b-1 {
  margin-bottom: 1px !important;
}

.mg-b-5 {
  margin-bottom: 5px !important;
}

.mg-b-10 {
  margin-bottom: 10px !important;
}

.mg-b-15 {
  margin-bottom: 15px !important;
}

.mg-b-20 {
  margin-bottom: 20px !important;
}

.mg-b-30 {
  margin-bottom: 30px !important;
}

.mg-l-0 {
  margin-left: 0px !important;
}

.mg-l-1 {
  margin-left: 1px !important;
}

.mg-l-5 {
  margin-left: 5px !important;
}

.mg-l-10 {
  margin-left: 10px !important;
}

.mg-l-15 {
  margin-left: 15px !important;
}

.mg-l-20 {
  margin-left: 20px !important;
}

.mg-l-30 {
  margin-left: 30px !important;
}

.mg-r-0 {
  margin-right: 0px !important;
}

.mg-r-1 {
  margin-right: 1px !important;
}

.mg-r-5 {
  margin-right: 5px !important;
}

.mg-r-10 {
  margin-right: 10px !important;
}

.mg-r-15 {
  margin-right: 15px !important;
}

.mg-r-20 {
  margin-right: 20px !important;
}

.mg-r-30 {
  margin-right: 30px !important;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: #2486ff;
}

.video-js {
  min-width: 350px !important;
}

.iconfont {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #696969;
}

::-moz-selection {
  background-color: red;
  color: #FFF;
}

::selection {
  background-color: red;
  color: #FFF;
}

.text-right {
  text-align: right !important;
}

.text, #join-white label, #join-rule label, #scan-result ul.files li.file i.text, #scan-result ul.files li.file i.li-nav, #scan-result ul.files li.file i.notice, #scan-result .notice, #scan-result li, #scan-result .li-nav, #rule-list li, #rule-list .li-nav, #white-list li, #white-list .li-nav {
  color: #9e9e9e;
  font-size: 0.8rem;
}

h1.title {
  color: #FFF;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
h1.title .version {
  font-size: 1rem;
  font-style: italic;
}
h1.title .version b {
  font-size: 0.8rem;
}

.small-btn {
  padding: 3px 10px;
  font-size: 0.8rem;
  display: inline-block;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(16, 31, 28, 0.1);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.5);
  background-clip: padding-box;
  min-height: 28px;
  border-radius: 2em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, 0.3);
}

.color-red {
  background-color: red !important;
}
.color-red span {
  color: #fff !important;
}

* {
  margin-left: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-block-end: 0;
}

#CodeMirror-search-field {
  width: auto !important;
  min-width: 50%;
}

.cm-searching {
  background-color: rgba(255, 0, 0, 0.4) !important;
  color: #fff !important;
}

.cm-searching::-moz-selection {
  background-color: red !important;
}

.cm-searching::selection {
  background-color: red !important;
}

.container {
  padding: 1%;
  height: 98%;
}

.ui-dialog {
  min-width: 300px !important;
}

.ui-input input {
  min-width: 160px !important;
}

.ui-textarea > textarea, textarea.ui-textarea {
  min-width: 280px !important;
}

.ui-tips[data-title]::before {
  max-width: 1000px !important;
}

.mask {
  position: absolute;
  left: -100%;
  top: -100%;
}

.cursor-pointer {
  cursor: pointer;
}

#shang {
  max-width: 350px;
}
#shang img {
  width: 100%;
  padding: 30px 0;
}
#shang p {
  margin-top: 10px;
}

#home-notice {
  margin-top: 30px;
  max-width: 500px;
  display: inline-block;
  text-align: left;
}

#update a {
  margin: 20px;
}

#quiker-dirs {
  padding-top: 20px;
}
#quiker-dirs p {
  margin: 15px 0;
}
#quiker-dirs p button {
  margin: 0 10px;
}

#ignore-rules-box {
  width: 640px;
  max-width: 90%;
}
#ignore-rules-box .text, #ignore-rules-box #join-white label, #join-white #ignore-rules-box label, #ignore-rules-box #join-rule label, #join-rule #ignore-rules-box label, #ignore-rules-box #scan-result ul.files li.file i.text, #scan-result ul.files li.file #ignore-rules-box i.text, #ignore-rules-box #scan-result .notice, #scan-result #ignore-rules-box .notice, #ignore-rules-box #scan-result li, #scan-result #ignore-rules-box li, #ignore-rules-box #scan-result .li-nav, #scan-result #ignore-rules-box .li-nav, #ignore-rules-box #rule-list li, #rule-list #ignore-rules-box li, #ignore-rules-box #rule-list .li-nav, #rule-list #ignore-rules-box .li-nav, #ignore-rules-box #white-list li, #white-list #ignore-rules-box li, #ignore-rules-box #white-list .li-nav, #white-list #ignore-rules-box .li-nav {
  display: inline-block;
  width: 31%;
  margin: 0 1% 10px 1%;
  white-space: nowrap;
  overflow: hidden;
}

#editor .CodeMirror {
  height: 500px !important;
}
#editor .actions {
  padding: 20px 0;
  position: relative;
}
#editor .actions div {
  margin-bottom: 10px;
}
#editor .rule_remark {
  padding-left: 50px;
}
#editor #similar-rules {
  padding-top: 10px;
}
#editor #similar-rules span {
  margin-right: 15px;
}
#editor input {
  width: 350px;
}

#config p {
  margin-bottom: 10px;
}
#config textarea {
  min-width: 340px;
}
#config .text-right {
  margin-top: 10px;
}

#config-list {
  width: 65%;
  float: right;
  background-color: #fff;
  border-radius: 0.2rem;
}
#config-list:nth-child(2n) {
  background-color: #FFF;
}
#config-list li {
  boder: 1px solid #e1e1e1;
  padding: 30px 0;
  cursor: pointer;
  width: 50%;
  float: left;
  height: 30px;
  text-align: center;
  vertical-align: center;
  display: inline-block;
}
#config-list li b {
  font-size: 0.9rem;
  font-weight: normal;
}

#video-list {
  width: 65%;
  float: right;
  height: 98%;
  background-color: #fff;
  border-radius: 0.2rem;
}
#video-list li {
  width: 20%;
  padding: 2.5%;
  cursor: pointer;
  float: left;
  height: 100px;
  display: inline-block;
  color: #9e9e9e;
  text-align: center;
}
#video-list li .icon-run {
  display: block;
  font-size: 2rem;
  padding-bottom: 15px;
}
#video-list li h3 {
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.2;
}

#scan-result, #rule-list, #white-list {
  width: 65%;
  float: right;
  height: 98%;
  background-color: #fff;
  border-radius: 0.2rem;
}
#scan-result .li-nav, #rule-list .li-nav, #white-list .li-nav {
  background-color: #f8f8f8;
}
#scan-result li, #scan-result .li-nav, #rule-list li, #rule-list .li-nav, #white-list li, #white-list .li-nav {
  border-bottom: 1px dashed #e1e1e1;
  position: relative;
  padding: 10px 0 5px 0;
}
#scan-result li span, #scan-result .li-nav span, #rule-list li span, #rule-list .li-nav span, #white-list li span, #white-list .li-nav span {
  display: inline-block;
  overflow: hidden;
}
#scan-result li span.id, #scan-result .li-nav span.id, #rule-list li span.id, #rule-list .li-nav span.id, #white-list li span.id, #white-list .li-nav span.id {
  width: 50px;
  text-align: left;
  padding-left: 10px;
}
#scan-result li span.name, #scan-result .li-nav span.name, #rule-list li span.name, #rule-list .li-nav span.name, #white-list li span.name, #white-list .li-nav span.name {
  width: 50%;
  word-break: break-all;
  cursor: pointer;
}
#scan-result li span.rule, #scan-result .li-nav span.rule, #rule-list li span.rule, #rule-list .li-nav span.rule, #white-list li span.rule, #white-list .li-nav span.rule {
  height: 1.2rem;
}
#scan-result li span.remark, #scan-result .li-nav span.remark, #rule-list li span.remark, #rule-list .li-nav span.remark, #white-list li span.remark, #white-list .li-nav span.remark {
  width: 30%;
}
#scan-result li span b.lang, #scan-result li span b.level, #scan-result .li-nav span b.lang, #scan-result .li-nav span b.level, #rule-list li span b.lang, #rule-list li span b.level, #rule-list .li-nav span b.lang, #rule-list .li-nav span b.level, #white-list li span b.lang, #white-list li span b.level, #white-list .li-nav span b.lang, #white-list .li-nav span b.level {
  background-color: #9e9e9e;
  display: inline-block;
  text-align: center;
  width: 40px;
  color: #FFF;
  margin: 0 10px 0 0;
  padding: 1px 5px;
  text-transform: uppercase;
  border-radius: 3px;
}
#scan-result li span.actions, #scan-result .li-nav span.actions, #rule-list li span.actions, #rule-list .li-nav span.actions, #white-list li span.actions, #white-list .li-nav span.actions {
  float: right;
  margin-right: 20px;
}
#scan-result li span.actions .add-rule-btn, #scan-result .li-nav span.actions .add-rule-btn, #rule-list li span.actions .add-rule-btn, #rule-list .li-nav span.actions .add-rule-btn, #white-list li span.actions .add-rule-btn, #white-list .li-nav span.actions .add-rule-btn {
  position: absolute;
  right: 5px;
  top: 3px;
}
#scan-result ul, #rule-list ul, #white-list ul {
  list-style: none;
  height: 92%;
  overflow-y: auto;
}

.file-select, .path-exclude {
  padding: 10px 0;
}

#load-file {
  margin-top: 30px;
}

#scan-result .load-notice {
  text-align: center;
  vertical-align: center;
  padding-top: 5%;
}
#scan-result .notice {
  padding: 10px;
  background-color: #e4e4e4;
}
#scan-result .notice .shells_num, #scan-result .notice .files_num {
  padding: 0 5px;
  cursor: pointer;
}
#scan-result .notice .shells_num {
  color: red;
}
#scan-result ul.files li.file.level-1 {
  background-color: #ffecec;
}
#scan-result ul.files li.file.level-1 .name b, #scan-result ul.files li.file.level-1 .match b {
  color: #ffb430 !important;
}
#scan-result ul.files li.file.level-10 {
  background-color: #ffc2ae;
}
#scan-result ul.files li.file.level-10 .name b, #scan-result ul.files li.file.level-10 .match b {
  color: #ff7d52 !important;
}
#scan-result ul.files li.file.level-100 {
  background-color: red;
}
#scan-result ul.files li.file.level-100 *, #scan-result ul.files li.file.level-100 i.text, #scan-result ul.files li.file.level-100 i.li-nav, #scan-result ul.files li.file.level-100 i.notice {
  color: #FFF;
}
#scan-result ul.files li.file.shell .name b {
  color: #ffb430;
}
#scan-result ul.files li.file b,
#scan-result ul.files li.file i {
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  float: left;
  font-size: 0.8rem;
}
#scan-result ul.files li.file b {
  text-overflow: ellipsis;
  display: block;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;
}
#scan-result ul.files li.file b.file-path {
  width: calc(100% - 65px);
  font-weight: bolder;
}
#scan-result ul.files li.file span {
  display: inline-block;
}
#scan-result ul.files li.file .btns i {
  cursor: pointer;
}
#scan-result ul.files li.file i.text, #scan-result ul.files li.file i.li-nav, #scan-result ul.files li.file i.notice {
  margin-right: 5px;
}
#scan-result ul.files li.file .name,
#scan-result ul.files li.file .match {
  cursor: pointer;
  overflow-x: hidden;
  height: 2rem;
  position: relative;
}
#scan-result ul.files li.file .size {
  width: 100px;
  height: 2rem;
  float: right;
}
#scan-result ul.files li.file .size.shell {
  width: 180px;
}
#scan-result ul.files li.file .time {
  width: 160px;
  height: 2rem;
}
#scan-result ul.files li.file .time b, #scan-result ul.files li.file .time i {
  float: left;
}
#scan-result ul.files li.file .time.shell {
  float: right;
  width: 180px;
}
#scan-result ul.files li.file .num {
  margin-right: 5px;
  width: 40px;
  text-align: left;
  padding-left: 10px;
  font-weight: bolder;
  float: left;
}

.menu {
  background-color: #FFF;
  height: auto;
  overflow: hidden;
  padding: 15px 0;
  border-radius: 10px;
  margin-top: 10px;
}
.menu li {
  float: left;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 25%;
  cursor: pointer;
  margin-top: 20px;
}
.menu li i, .menu li b {
  display: block;
}
.menu li i {
  font-size: 2rem;
}
.menu li b {
  padding: 5px 0;
  font-weight: normal;
  font-size: 0.8rem;
  color: #696969;
}

#dir-list {
  display: inline-block;
  margin: 0 auto;
  width: 25%;
  max-width: 360px;
}
#dir-list p {
  color: #fff;
  font-size: 0.8rem;
  padding: 5px 0;
}
#dir-list p b {
  color: #ff9f00;
  padding: 0 5px;
}
#dir-list .path {
  width: 100%;
  background-color: #fff;
  cursor: pointer !important;
  margin: 10px 0 10px 0 !important;
  display: block;
  padding: 10px 0;
  text-indent: 5px;
}
#dir-list .dir, #dir-list .gotop-dir {
  cursor: pointer;
  list-style: none;
  padding: 15px;
  text-align: left;
  color: #464646;
  font-size: 0.8rem;
}
#dir-list .gotop-dir {
  background-color: #ff7e00;
  color: #FFF;
}
#dir-list #root {
  width: 100%;
  height: 70%;
  max-height: 300px;
  overflow-y: auto;
  display: inline-block;
  background-color: #fff;
  margin-top: 1px;
}
#dir-list #root .iconfont {
  margin-right: 10px;
}
#dir-list #root .dir {
  border-bottom: 1px dashed #e1e1e1;
}

#server {
  width: 320px;
  padding: 10px !important;
  box-sizing: content-box;
  cursor: pointer;
}

#join-white input, #join-white textarea, #join-rule input, #join-rule textarea {
  width: 320px;
  padding: 10px !important;
  box-sizing: content-box;
  cursor: pointer;
}
#join-white .radios, #join-rule .radios {
  margin: 10px 0;
}
#join-white p, #join-rule p {
  margin: 10px 0;
  text-align: right;
}
#join-white textarea, #join-rule textarea {
  margin-bottom: 15px;
}

#join-rule p {
  text-align: left;
}
#join-rule span.text, #join-rule #scan-result span.li-nav, #scan-result #join-rule span.li-nav, #join-rule #rule-list span.li-nav, #rule-list #join-rule span.li-nav, #join-rule #white-list span.li-nav, #white-list #join-rule span.li-nav, #join-rule #scan-result span.notice, #scan-result #join-rule span.notice {
  display: inline-block;
  width: 55px;
  text-align: right;
  margin-right: 5px;
}

.ui-date-input > input, .ui-date-range-input > input, .ui-hour-input > input, .ui-month-input > input, .ui-month-range-input > input, .ui-time-input > input, .ui-year-input > input {
  padding-right: 22px !important;
}

#auth-key-box .ui-label {
  display: inline-block;
  width: 70px;
}

@media only screen and (max-width: 1600px) {
  #scan-result {
    width: 70%;
  }
  #dir-list {
    height: auto !important;
  }
  #scan-result ul.files li.file span {
    float: none;
    display: inline-block;
  }
  #scan-result ul.files li.file .name, #scan-result ul.files li.file .match {
    width: 63%;
  }
  #scan-result ul.files li.file .match {
    margin-left: 55px;
  }
}
@media only screen and (max-width: 1300px) {
  #scan-result ul.files li.file .time.file {
    margin-left: 55px;
  }
}
@media only screen and (max-width: 820px) {
  #scan-result .load-notice span {
    position: relative;
    transform: none;
  }
  html, body {
    overflow: visible;
  }
  #dir-list,
  #scan-result, #rule-list, #config-list, #white-list {
    margin: 10px 0;
    display: block;
    width: 98%;
    padding: 1%;
    max-width: inherit;
    height: auto;
  }
  #scan-result ul.files li.file .match {
    width: 50%;
  }
  #scan-result ul.files li.file .match b {
    width: 200px;
  }
  #join-white .actions input, #join-rule .actions input, #editor .actions input {
    display: block;
    margin: 10px 0;
    width: 95%;
  }
}
@media only screen and (max-width: 820px) {
  #scan-result ul.files li.file .name, #scan-result ul.files li.file .match {
    width: 50%;
  }
}
@media only screen and (max-width: 460px) {
  #scan-result ul.files li.file .name, #scan-result ul.files li.file .match {
    width: calc(100% - 60px);
  }
  #scan-result ul.files li.file .size, #scan-result ul.files li.file .time {
    margin-left: 55px;
  }
  #join-white input, #join-white textarea, #join-rule input, #join-rule textarea, #editor input, #editor textarea {
    width: 220px;
  }
}/*# sourceMappingURL=app.css.map */