@font-face {
  font-family: "iconfont"; /* Project id 4180697 */
  src: url('iconfont.woff2?t=1690644886712') format('woff2'),
       url('iconfont.woff?t=1690644886712') format('woff'),
       url('iconfont.ttf?t=1690644886712') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
  content: "\e616";
}

.icon-upload:before {
  content: "\e623";
}

.icon-shequ:before {
  content: "\e656";
}

.icon-shang:before {
  content: "\e692";
}

.icon-jc:before {
  content: "\e6ee";
}

.icon-home:before {
  content: "\e638";
}

.icon-qq:before {
  content: "\e680";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-fuwuqi:before {
  content: "\e678";
}

.icon-github:before {
  content: "\e72a";
}

.icon-contact:before {
  content: "\e8f5";
}

.icon-list:before {
  content: "\e615";
}

.icon-category:before {
  content: "\ec6b";
}

.icon-run:before {
  content: "\e6e3";
}

.icon-filter:before {
  content: "\e621";
}

.icon-dir:before {
  content: "\e661";
}

.icon-book:before {
  content: "\e61f";
}

.icon-code:before {
  content: "\e66e";
}

.icon-delete:before {
  content: "\e69d";
}

.icon-edit:before {
  content: "\e69e";
}

.icon-refresh:before {
  content: "\e6aa";
}

.icon-set:before {
  content: "\e6ae";
}

.icon-menu:before {
  content: "\e6b4";
}

.icon-account:before {
  content: "\e6b8";
}

.icon-link:before {
  content: "\e6f7";
}

.icon-debug:before {
  content: "\e679";
}

.icon-share:before {
  content: "\e610";
}

.icon-shezhi:before {
  content: "\e612";
}

.icon-down:before {
  content: "\e613";
}

.icon-zd:before {
  content: "\e611";
}

.icon-full-screen:before {
  content: "\e614";
}

